:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  background-color: lightgoldenrodyellow;
  color: #333;
}


#app {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

