:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
  display: flex;
  background-color: #FFDEAD;
  color: #333;
}

h2 {
  font-size: 38px;
  font-weight: normal;
}

p {
  margin: auto;
}

li {
  list-style: none;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}


#app {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

